<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<p>
    Matthew Chan and Arun Sharma are two students in Matt Pigg's compsci class. This is a project that they are doing which experiments with
    CSS, HTML, Python, and SQL to create an interactive database through a website. Our huge thanks to Matt Pigg for supporting
    this idea, and to Peter Kimball for providing us with the idea and inspiring us to tackle this.
</p>
</body>
</html>