<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>OES Gradebook -- Learning Indicators</title>
</head>
    <title>Learning Indicators and Gradebook</title>
  <body>
    <h1 style="color: #006400">
      OES "Always Open"
    </h1>
    <h2>
      <center>Teacher Gradebook</center>
    </h2>
    <p>
        Welcome to this website, created by <a href="about">Matthew Chan and Arun Sharma </a> for Matt Pigg's Compsci class.
        We will help make your grading easier by enabling you to input grades as marks from 1-4 for each learning indicator.
        These will translate into grades for learning outcomes, units, and classes.
    </p>
    <p>
       As a teacher, you can input into the database information about your students, classes, and can customize your tables to reflect the learning
        indicators of the class that you teach. Please follow links at the top for more information.
    </p>
  <p>
      <a href="login">Log in</a> here if you are a teacher and registered. Otherwise, click this Getting Started link.
  </p>
  </body>
</html>